<h1>Listing directions</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

<% @directions.each do |direction| %>
  <tr>
    <td><%=h direction.description %></td>
    <td><%= link_to 'Show', direction %></td>
    <td><%= link_to 'Edit', edit_direction_path(direction) %></td>
    <td><%= link_to 'Destroy', direction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New direction', new_direction_path %>