- form_for(@comment) do |f|
  = f.error_messages
  = f.hidden_field :category
  %p
    = f.label :author
    %br
    = f.text_field :author

  / Bus specific
  %p
    = f.label :vehicle_driver_number, "Bus Number"
    %br
    = f.text_field :vehicle_driver_number
  %p
    = f.label :transport, "Bus Company"
    %br
    = f.collection_select(:transport_id, Bus.ascend_by_company, :id, :company)
  %p
    = f.label :incident_info, "Bus Info"
    %br
    = f.text_field :incident_info
      
  / Driver specific
  %p
    = f.label :vehicle_driver_number, "Driver License Plate"
    %br
    = f.text_field :vehicle_driver_number
  %p
    = f.label :incident_info, "Vehicle Info"
    %br
    = f.text_field :incident_info
  
  / Taxi specific
  %p
    = f.label :vehicle_driver_number, "Taxi Driver License Number"
    %br
    = f.text_field :vehicle_driver_number
  %p
    = f.label :transport, "Taxi Company"
    %br
    = f.collection_select(:transport_id, Taxi.ascend_by_company, :id, :company)
      
  / Train specific
  %p
    = f.label :train_line
    %br
    = f.text_field :train_line
  %p
    = f.label :train_direction
    %br
    = f.text_field :train_direction

  %p
    = f.label :ramble
    %br
    = f.text_area :ramble

  %p
    = f.submit 'Create'