- form_for(@comment) do |f|
  = f.error_messages
  = f.hidden_field :category

  %ul
    %li.question
      %label
        Author (defaults to Anonymous)
    %li
      = f.text_field :author
  
    -if @comment.category == Comment::BUS
      %li.question
        %label
          Bus Company *
      %li
        = f.collection_select(:transport_id, Bus.ascend_by_company, :id, :company)
      %li.question
        %label
          Bus Number *
      %li
        = f.text_field :vehicle_no
      %li.question
        %label
          Direction or bus stop
      %li
        = f.text_field :short_description
  
    -if @comment.category == Comment::FERRY
      %li.question
        %label
          Ferry Line *
      %li
        = f.collection_select(:transport_line_id, FerryLine.ascend_by_name, :id, :name, :include_blank => :true)
      %li.question
        %label
          Direction or wharf
      %li
        = f.text_field :short_description
  
    -if @comment.category == Comment::TRAIN
      = javascript_tag("var json_train_lines = #{@train_lines.to_json(:only => [:id, :name], :include => :directions)}")
      %li.question
        %label
          Train Line *
      %li
        = f.collection_select(:transport_line_id, TrainLine.ascend_by_name, :id, :name, :include_blank => :true)
      %li.question
        %label
          Line Direction *
      %li
        #trains
  
    %li.question
      %label
        ==New #{controller.controller_name.titleize} *
    %li
      = f.text_area :ramble

    %li
      %a.whiteButton{:href=>"#", :script=>"javascript"} Create