- content_for :title, "Trambles"
%ul
  %li.arrow
    %span.bus
    %a.label{:href => "bus_rambles" } View Bus Rambles
  %li.rave
    %a{:href=>"raves/new?category=Bus"}
      %span
        ==Add Rave (#{@buses.type_equals('Rave').count})
  %li.rant
    %a{:href=>"rants/new?category=Bus"}
      %span
        ==Add Rant (#{@buses.type_equals('Rant').count})
%ul
  %li.arrow
    %span.ferry
    %a.label{:href => "ferry_rambles" } View Ferry Rambles
  %li.rave
    %a{:href=>"raves/new?category=Ferry"}
      %span
        ==Add Rave (#{@ferries.type_equals('Rave').count})
  %li.rant
    %a{:href=>"rants/new?category=Ferry"}
      %span
        ==Add Rant (#{@ferries.type_equals('Rant').count})
%ul
  %li.arrow
    %span.train
    %a.label{:href => "train_rambles" } View Train Rambles
  %li.rave
    %a{:href=>"raves/new?category=Train"}
      %span
        ==Add Rave (#{@trains.type_equals('Rave').count})
  %li.rant
    %a{:href=>"rants/new?category=Train"}
      %span
        ==Add Rant (#{@trains.type_equals('Rant').count})