!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      -if current_page? root_url
        =h yield(:title)
      -else
        = controller.action_name.titleize
        = controller.controller_name.titleize

    %link{:rel=>"apple-touch-icon", :href=>"/images/icon.png"}
    %link{:rel=>"apple-touch-startup-image", :href=>"/images/default.png"}
    
    = stylesheet_link_tag "/jqtouch/jqtouch.min.css", "/jqtouch/themes/apple/theme.min.css", "mobile"
    = javascript_include_tag "/jqtouch/jquery.1.3.2.min.js", "/jqtouch/jqtouch.min.js", "mobile"
    
    = yield(:head)
  %body
    .current
      .toolbar
        = link_to "Back", nil, :class => "back" unless current_page? root_path
        %h1
          =h yield(:title)
        - unless current_page? info_index_path
          %a.button.flip{ :href=>"info" } Info
        = yield(:toolbar)
      - unless flash.empty?
        .info
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
      = yield
    =render :partial => 'layouts/analytics'